
<style>

body {
    font-family: Arial, Helvetica, sans-serif;
}
table { 
    font-family: Geneva, Verdana, sans-serif;
    cursor: pointer; 
    height: 400px;
    width: 400px;
    border-collapse: collapse;
}
tr.linha {
    background-color: rgb(175, 172, 172);
}
td {
  border: 1px solid black; 
  padding: 8px;
  text-align: center; /*Alinhamento horiziontal left=esquerda e right=direita*/ 
  vertical-align:middle ; /*alinhamento vertical top=emcima e alinhamento vertical bottom=embaixo*/
}
tr.linha3 {
    background-color: rgb(208, 123, 12);
}
td.dado1 {
    
    text-align: center;
    color: rgb(255, 0, 119);
    background-color: aquamarine;
}
td.dado1:hover {
    background-image: linear-gradient(to bottom, rgb(21, 0, 255), yellow);
    box-shadow: inset;
    cursor: pointer;
}
td.dado3:hover {
    background-color: brown;
    background-image: url('img/wallpaper002.jpg');
    background-size: cover;

}
tr#linhaa3 {
    background-color: aquamarine;
}
tr.dado {
    background-color: yellow;
}
td.dado {
    color: rgb(255, 5, 59);
    background-color: rgba(13, 13, 213, 0.79);
}
td.numero2 {
    text-align: right;
    background-color: brown;
}
td.numero3 {
    text-align: right;
    background-color: rgb(42, 56, 165);
}   
</style>